{
    auto_https disable_redirects
}

site.localhost {
    reverse_proxy 127.0.0.1:5173 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    tls internal
}

electric.localhost {
    reverse_proxy localhost:3000
    tls internal
}

websocket.localhost {
    reverse_proxy localhost:1234 
    tls internal
}